#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE = 1

# Include default debhelper commands
%:
	dh $@

override_dh_auto_install:
	# Create the installation directory
	install -d $(DESTDIR)/usr/local/bin/

	# Install the main script
	install -m 0755 src/main.py $(DESTDIR)/usr/local/bin/lsmbspeedtest

override_dh_auto_build:
	# Install required Python modules listed in requirements.txt
	pip3 install --no-cache-dir --requirement requirements.txt --target ./build/

# Clean up build artifacts
override_dh_clean:
	dh_clean
	rm -rf ./build/
